html{
    height: 100%;
}
body{
    font-family: Arial;
    color: black;
}
nav{
    height: 3913px;
    width: 6.25%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #424242;
}
main{
    padding-left: 12.5%;
    padding-top: 2.5%;
}
footer{
    margin-left: 120px;
    width: 1250px;
    height: 200px;
    background-color: #424242;
    display: block;
    margin-top: 210px;
    position: absolute;

}

.title{
    font-size: 450%;
}
.content {
    padding-top: 25px;
    width: 800px;
    text-align: justify;
    font-size: xx-large;
    line-height: 150%;
}
.side-content{
    font-size: xx-large;
    position: absolute;
    right: 120px;
    top: 510px;
}
.some-subtitle{
    padding-top: 100px;
    height: 1000px;
}
.another-subtitle{
    padding-top: 100px;
}
.thumbnail{
    height: 130px;
    width: 100%;
    background-color: #c7c7c7;
}
.thumbnail-image{
    margin: 10px 10px;
    height: 100px;
    length: 100px;
}
.subtitle{
    padding-top: 100px;
    font-size: 300%;
    text-align: center;
    padding-right: 12.5%;
}
.nav-item{
    margin: 50px -10px;
    width: 70%;
    padding-top: 70%;
    border: solid 4px #c7c7c7;
    text-decoration: none;
    list-style-type: none;
}
.rectangle{
    width: 300px;
    height: 75px;
    background-color: #424242;
    margin: auto;
}
.big-rectangle{
    width: 1555px;
    height: 600px;
    background-color: #c7c7c7;
}
.rectangle2{
    width: 370px;
    height: 200px;
    background-color: #c7c7c7;
    float: left;
    margin-top: 25px;
    margin-right: 25px;
}
.rectangle3{
    margin-left: 120px;
    width: 1250px;
    height: 75px;
    background-color: #c7c7c7;
    margin-top: 20px;

}
.big-rectangle2{
    margin-left: 120px;
    width: 1250px;
    height: 700px;
    background-color: #c7c7c7;
    margin-top: 20px;
}
.last-rectangle{
    margin-left: 1120px;
    width: 250px;
    height: 100px;
    background-color: #424242;
    margin-top: 20px;
}